<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1573.v1465f6f78810">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <displayName>Alex (#1)</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@821.vc3b_4ea_780798">
      <branch plugin="branch-api@2.1280.v0d4e5b_b_460ef">
        <sourceId>org.jenkinsci.plugins.github_branch_source.GitHubSCMNavigator::https://api.github.com::prodeng1::service</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.PullRequestSCMHead" plugin="github-branch-source@1967.vdea_d580c1a_b_a_">
          <name>PR-1</name>
          <merge>false</merge>
          <number>1</number>
          <target>
            <name>main</name>
          </target>
          <sourceOwner>prodeng1</sourceOwner>
          <sourceRepo>service</sourceRepo>
          <sourceBranch>alex</sourceBranch>
          <origin class="jenkins.scm.api.SCMHeadOrigin$Default" plugin="scm-api@728.vc30dcf7a_0df5"/>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@5.10.1">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/pull/1/head:refs/remotes/origin/PR-1</refspec>
              <url>https://github.com/prodeng1/service.git</url>
              <credentialsId>github_token</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>PR-1</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/prodeng1/service</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <jenkins.scm.api.metadata.ContributorMetadataAction plugin="scm-api@728.vc30dcf7a_0df5">
            <contributor>gabirelul</contributor>
            <contributorDisplayName>Alex Chera</contributorDisplayName>
          </jenkins.scm.api.metadata.ContributorMetadataAction>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@1967.vdea_d580c1a_b_a_">
            <url>https://github.com/prodeng1/service/pull/1</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@728.vc30dcf7a_0df5">
            <objectDisplayName>Alex</objectDisplayName>
            <objectDescription>test 1</objectDescription>
            <objectUrl>https://github.com/prodeng1/service/pull/1</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@821.vc3b_4ea_780798">
    <scriptPath>infrastructure/Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>